.message {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  backdrop-filter: blur(20px);
  animation: appear 0.5s;
}
.user,
.left {
  text-align: left;
  margin-right: auto;
}
.assistant,
.right {
  text-align: right;
  margin-left: auto;
}
.done {
  margin-bottom: 300px;
}

.image {
  position: absolute;
  right: 40px;
  top: 100%;
  margin-top: -10px;
  transform: rotate(-1deg);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(20px); */
}

.bubble {
  padding: 20px;
}
.bubble::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  z-index: -1;
}
.user .bubble::before,
.left .bubble::before {
  border-top-left-radius: 0;
}
.assistant .bubble::before,
.right .bubble::before {
  border-top-right-radius: 0;
}

.blob {
  position: absolute;
  z-index: -1;
  width: 150px;
  top: -50px;
  bottom: -50px;
  filter: blur(100px);
}
.user .blob {
  left: 0;
  background-color: #0ea5e9;
  transform: rotate(1deg);
}
.assistant .blob {
  right: 0;
  background-color: #ec4899;
  transform: rotate(-1deg);
}
.left .blob {
  left: 0;
  background-color: #eab308;
  transform: rotate(1deg);
  top: 0;
  bottom: 0;
  width: 20%;
}
.right .blob {
  right: 0;
  background-color: #22c55e;
  transform: rotate(-1deg);
  top: 0;
  bottom: 0;
  width: 20%;
}

.part {
  animation: pop-in 1.5s forwards;
}
@keyframes pop-in {
  from {
    color: white;
    text-shadow: 0 0 15px white;
  }
  to {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0 white;
  }
}

.name {
  display: flex;
  height: 30px;
  align-items: center;
  position: absolute;
  top: -15px;
  padding: 0 15px;
  z-index: 0;
}
.name::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 100px;
}
.left .name {
  left: 20px;
}
.right .name {
  right: 20px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
